<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button [routerLink]="''"><h1> Cities2030 - Privately </h1></a>
    <span class="menu-spacer"></span>
    <ng-container
      [ngTemplateOutlet]="toolbarButton"
      [ngTemplateOutletContext]="{route:'/privates', text:'Chat'}">
    </ng-container>
    <ng-container
      [ngTemplateOutlet]="toolbarButton"
      [ngTemplateOutletContext]="{route:'/groups', text:'Groups'}">
    </ng-container>
    <ng-container
      [ngTemplateOutlet]="toolbarButton"
      [ngTemplateOutletContext]="{route:'/dead-drop', text:'Secrets'}">
    </ng-container>
    <span class="spacer"></span>
    <ng-container
      [ngTemplateOutlet]="store.hasValidAccount() ? AccountInfo : Register">
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #Register>
  <div>
    <button color="accent" mat-raised-button (click)="crearCuenta()">
      Log in
    </button>
  </div>
</ng-template>

<ng-template #AccountInfo>
  <button color="accent" mat-raised-button [matMenuTriggerFor]="menu">{{ nickname }}</button>
  <mat-menu #menu="matMenu">
    <p mat-menu-item disabled>{{address}}</p>
    <button mat-menu-item (click)="crearCuenta()">
      <mat-icon>edit</mat-icon>
      <span>Edit account</span>
    </button>
  </mat-menu>
</ng-template>

<ng-template #toolbarButton let-text='text' let-route='route'>
  <ng-container
    [ngTemplateOutlet]="this.router.url === route ? selected : notSelected"
    [ngTemplateOutletContext]="{route:route, text:text}">
  </ng-container>
</ng-template>

<ng-template #selected let-text='text' let-route='route'>
  <div>
    <a mat-flat-button color="accent" [routerLink]="route">{{ text }}</a>
  </div>
</ng-template>

<ng-template #notSelected let-text='text' let-route='route'>
  <div>
    <a mat-flat-button color="primary" [routerLink]="route">{{ text }}</a>
  </div>
</ng-template>
