<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button [routerLink]="''"><h1> Privately </h1></a>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/privates'"> Chats </a>
    </div>
    <div>
      <a mat-button [routerLink]="'/dead-drop'"> Dead Drop </a>
    </div>
    <div>
      <a mat-button [routerLink]="'/groups'"> Grupos </a>
    </div>
    <span class="spacer"></span>
    <ng-container
          [ngTemplateOutlet]="store.hasValidAccount() ? AccountInfo : Register">
        </ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #Register>
  <div>
    <button color="accent" mat-raised-button (click)="crearCuenta()">
      Iniciar sesión
    </button>
  </div>
</ng-template>

<ng-template #AccountInfo>
  <button color="accent" mat-raised-button [matMenuTriggerFor]="menu">{{ nickname }}</button>
  <mat-menu #menu="matMenu">
    <p mat-menu-item disabled>{{address}}</p>
    <button mat-menu-item (click)="crearCuenta()">
      <mat-icon>edit</mat-icon>
      <span>Editar cuenta</span>
    </button>
  </mat-menu>
</ng-template>