<div class="body">
  <div class="sidebar">
    <app-chat-sidenav [selected]="selectedContact?.getAddress()" [addresses]="getAddresses()"
                      (changeAddress)="setSelectedContact($event)" (newChat)="onNewChat()">
      <mat-list-item mat-button class="list-item" (click)="onNewChat()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
        Nuevo chat
      </mat-list-item>
    </app-chat-sidenav>
  </div>
  <div class="chat">
    <app-chat *ngIf="!isCreatingChat(); else createChat" [messagesObservable]="getMessagesSelected()"
              (onMessage)="sendMessage($event)">
      <mat-toolbar>
        <mat-toolbar-row>
          <div class="titulo">
            <h3>{{getSelectedAddress()}}</h3>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </app-chat>
  </div>
</div>

<ng-template #createChat>
  <mat-card>
    <mat-card-title>
      Nuevo chat
    </mat-card-title>
    <mat-card-content>
      <form>
        <input type="text" #address>
        <button (click)="newChat($event, address)">New chat</button>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>
