<mat-drawer-container class="body">
  <mat-drawer class="mat-elevation-z8 sidebar" mode="side" opened>
    <app-chat-sidenav
      [selected]="selectedContact?.getAddress()"
      [cards]="getCardsInfo()"
      (changeAddress)="setSelectedContact($event)"
      (newChat)="onNewChat()">

      <mat-list-item class="list-item" (click)="onNewChat()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
        Nuevo chat
      </mat-list-item>
    </app-chat-sidenav>
  </mat-drawer>
  <mat-drawer-content class="chat">
    <ng-container [ngTemplateOutlet]="getSelectedAddress() == '' ? welcome : chat">
    </ng-container>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #welcome>
  <div class="area">
    <h2>Mensajería secreta</h2>
    ¡Para comenzar, crea un nuevo chat!
  </div>
</ng-template>

<ng-template #chat>
  <app-chat
    [title]="searchContact(getSelectedAddress())?.getNickname() + ' - ' + getSelectedAddress()"
    [messagesObservable]="getMessagesSelected()"
    (onMessage)="sendMessage($event)">
    <mat-toolbar color="primary" class="toolbar">
      <mat-toolbar-row>
        <div class="titulo">
          <h3>{{searchContact(getSelectedAddress()).getNickname()}} - {{getSelectedAddress()}}</h3>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </app-chat>
</ng-template>
