<div class="body">
  <div class="sidebar">
    
    <app-chat-sidenav [addresses]="getAddresses()" (changeAddress)="setSelectedContact($event)" (newChat)="onNewChat()"></app-chat-sidenav>
  </div>
  <div class="chat">
    <app-chat *ngIf="!isCreatingChat; else createChat" [messagesObservable]="getMessagesSelected()" (onMessage)="sendMessage($event)"></app-chat>
  </div>
</div>

<ng-template #createChat>
  <mat-card>
    <mat-card-title>
      New Chat
    </mat-card-title>
    <mat-card-content>
      <form>
        <input type="text" #address>
        <button (click)="newChat($event, address)">New chat</button>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>