
<div class="body">
<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <div class="titulo">
      <h3>{{title}}</h3>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="chat">
  <div *ngIf="address != ''; else noAddress" class="chat-div">
    <mat-list>
      <p *ngFor="let message of messages">
        <ng-container
          [ngTemplateOutlet]="message.isEncrypted() ? EncryptedMessage : DecryptedMessage"
          [ngTemplateOutletContext]="{message:message}">
        </ng-container>
      </p>
    </mat-list>
  </div>
</div>
<div class="chatbar form">
  <div class="form">
    <mat-form-field style="width: 100%;" appearance="fill">
      <input matInput type="text" placeholder="Mensaje" #message>
      <mat-hint>Longitud del mensaje (0/100)</mat-hint>
      <button matSuffix mat-icon-button aria-label="Clear" (click)="sendMessage($event, message)">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
</div>

<ng-template #noAddress>
  <div class="body">
    Bienvenido
  </div>
</ng-template>

<ng-template #EncryptedMessage let-message='message'>
  <mat-card class="chat-card-encrypted" (click)="message.decryptMessage()">
    <mat-card-title class="chat-ts">
      {{message.getTitle()}}
    </mat-card-title>
    <mat-card-content>
      {{message.getMessage()}}
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #OtherMessage let-message='message'>
  <mat-card class="chat-card-other">
    <mat-card-title class="chat-ts">
      {{message.getTitle()}}
    </mat-card-title>
    <mat-card-content>
      {{message.getMessage()}}
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #MyMessage let-message='message'>
  <mat-card class="chat-card-my">
    <mat-card-content>
      {{message.getMessage()}}
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #DecryptedMessage let-message='message'>
  <ng-container
    [ngTemplateOutlet]="message.getSender().toLowerCase() == store.getCurrentAccountValue().address ? MyMessage : OtherMessage"
    [ngTemplateOutletContext]="{message:message}">
  </ng-container>
</ng-template>
