<ng-content *ngIf="address != ''"></ng-content>
<div class="body">
  <div *ngIf="address != ''; else noAddress" class="chat-div">
    <mat-list>
      <p *ngFor="let message of messages">
        <ng-container
          [ngTemplateOutlet]="message.isEncrypted() ? EncryptedMessage : DecryptedMessage"
          [ngTemplateOutletContext]="{message:message}">
        </ng-container>
      </p>
    </mat-list>
  </div>

  <div class="form">
    <form>
      <mat-form-field style="width: 100%;" appearance="fill">
        <mat-label>Message</mat-label>
        <input matInput type="text" #message>
        <button matSuffix mat-icon-button aria-label="Clear" (click)="sendMessage($event, message)">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
</div>

<ng-template #noAddress>
  <div class="body">
    Bienvenido
  </div>
</ng-template>

<ng-template #EncryptedMessage let-message='message'>
  <mat-card class="chat-card-encrypted" (click)="message.decryptMessage()">
    <mat-card-title class="chat-ts">
      {{message.getTimestamp()}}
    </mat-card-title>
    <mat-card-content>
      {{message.getMessage()}}
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #DecryptedMessage let-message='message'>
  <mat-card class="chat-card-decrypted">
    <mat-card-title class="chat-ts">
      {{message.getTimestamp()}}
    </mat-card-title>
    <mat-card-content>
      {{message.getMessage()}}
    </mat-card-content>
  </mat-card>
</ng-template>
