
<div *ngIf="address != ''; else noAddress" class="chat-div">
  <mat-list>
    <p *ngFor="let message of messages">
      <ng-container 
        [ngTemplateOutlet]="message.getSender() == this.store.getCurrentAccountAddressValue() ? SentByMe : SentByOther" 
        [ngTemplateOutletContext]="{message:message}">
      </ng-container>
    </p>
  </mat-list>
  <div class="form">
    <form>
      <input type="text" #message>
      <button (click)="sendMessage($event, message)">Send</button>
    </form>
  </div>
</div>

<ng-template #noAddress>
  <div class="body">
    Bienvenido
  </div>
</ng-template>

<ng-template #SentByOther let-message='message'>
  <mat-card class="chat-card-other">
    <mat-card-title class="chat-ts">
      {{message.getTimestamp()}}
    </mat-card-title>
    <mat-card-content>
      {{message.getMessage()}}
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #SentByMe let-message='message'>
  <mat-card class="chat-card-me">
    <mat-card-title class="chat-ts">
      {{message.getTimestamp()}}
    </mat-card-title>
    <mat-card-content>
      {{message.getMessage()}}
    </mat-card-content>
  </mat-card>
</ng-template>