<h2 mat-dialog-title>Modificar permisos</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Dirección de destino</mat-label>
    <input matInput [(ngModel)]="address">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Permisos</mat-label>
    <input matInput type="number" [(ngModel)]="permissions">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="onCancel()">Cancelar</button>
  <button class="mat-raised-button mat-primary" type="submit" (click)="onSubmit()">Aceptar</button>
</mat-dialog-actions>
