<h2 mat-dialog-title>Modify permissions</h2>
<mat-dialog-content>
  <div>
    Permissions are:
    <ul>
      <li>2: Write</li>
      <li>3: Invite</li>
      <li>4: Manage (Admin)</li>
    </ul>

  </div>
  <mat-form-field appearance="fill">
    <mat-label>Destination address</mat-label>
    <input matInput [(ngModel)]="address">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Permissions</mat-label>
    <input matInput type="number" [(ngModel)]="permissions">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="onCancel()">Cancel</button>
  <button class="mat-raised-button mat-primary" type="submit" (click)="onSubmit()">Accept</button>
</mat-dialog-actions>
