.body {
  background: red;
  display: flex;
  height: calc(100vh - 64px);
}

.sidebar {
  border-radius: 25px;
  background: #F2F2F2;
  flex: 1;
  height: 100%;
  width: 30%;
}

.chat {
  background: #F5F3EF;
  flex: 3;
  height: 100%;
  width: 70%;
}

.list-item {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar {
  background-color: var(--primary-variant-accent);
}

.create-chat-card {
  margin: 100px
}