.body {
  width: 100%;
  height: calc(100vh - 64px);
}

.sidebar {
  height: 100%;
  width: 20%;
}

.chat {
  height: 100%;
  /* overflow-y: hidden; */
  width: auto;
}

.list-item {
  cursor: pointer;
}
