<mat-drawer-container class="body">
  <mat-drawer class="mat-elevation-z8 sidebar" mode="side" opened>
    <app-chat-sidenav
      [selected]="selectedChat?.getAddress()"
      [cards]="getCardsInfo()"
      (changeAddress)="setSelectedAddress($event)"
      (newChat)="onNewChat()">

      <mat-list-item class="list-item" (click)="onNewChat()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
        New private conversation
      </mat-list-item>
    </app-chat-sidenav>
  </mat-drawer>
  <mat-drawer-content class="chat">
    <ng-container [ngTemplateOutlet]="getSelectedAddress() == '' ? welcome : chat">
    </ng-container>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #welcome>
  <div class="area">
    <h2>Private conversation</h2>
    Create a new conversation to start!
  </div>
</ng-template>

<ng-template #chat>
  <app-chat
    [title]="searchContact(getSelectedAddress())?.getNickname() + ' - ' + getSelectedAddress()"
    [messagesObservable]="getMessagesSelected()"
    (onMessage)="sendMessage($event)">
  </app-chat>
</ng-template>
