.body {
  background: red;
  display: flex;
  height: calc(100vh - 64px);
}

.sidebar {
  background: white;
  flex: 1;
  height: 100%;
  width: 30%;
}

.chat {
  background: grey;
  flex: 3;
  height: 100%;
  width: 70%;
}

.list-item {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}
