<mat-drawer-container class="body">
  <mat-drawer class="mat-elevation-z8 sidebar" mode="side" opened>
    <app-chat-sidenav
      [selected]="selectedChat?.getAddress()"
      [cards]="getCardsInfo()"
      (changeAddress)="setSelectedAddress($event)"
      (newChat)="onNewChat()">
      
      <mat-list-item mat-button class="list-item" (click)="onNewChat()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
        Nuevo chat privado
      </mat-list-item>
    </app-chat-sidenav>
  </mat-drawer>
  <mat-drawer-content class="chat">
    <app-chat
    [title]="searchContact(getSelectedAddress())?.getNickname() + ' - ' + getSelectedAddress()"
    [address]="getSelectedAddress()"
    [messagesObservable]="getMessagesSelected()"
    (onMessage)="sendMessage($event)">
    <!-- Chat content when there is no chat selected -->
    <mat-card>
      <mat-card-title>
        Crea un nuevo chat para continuar
      </mat-card-title>
    </mat-card>
  </app-chat>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #createChat>
  <mat-card>
    <mat-card-title>
      Crea un nuevo chat para continuar
    </mat-card-title>
  </mat-card>
</ng-template>