<mat-drawer-container class="body">
  <mat-drawer class="mat-elevation-z8 sidebar" mode="side" opened>
    <app-chat-sidenav
      [selected]="selectedGroup?.getAddress()"
      [cards]="getCardsInfo()"
      (changeAddress)="setSelectedAddress($event)"
      (newChat)="onNewChat()">

      <mat-list-item class="list-item" (click)="onNewChat()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
        Nuevo grupo
      </mat-list-item>
    </app-chat-sidenav>
  </mat-drawer>
  <mat-drawer-content class="chat">
    <ng-container [ngTemplateOutlet]="getSelectedGroupName() == '' ? welcome : chat">
    </ng-container>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #welcome>
  <mat-card>
    <mat-card-title>
      Crea un nuevo grupo para continuar
    </mat-card-title>
  </mat-card>
</ng-template>

<ng-template #chat>
  <app-chat
      [title]="getSelectedGroupName()"
      [toolbarOptions]="toolbarOptions"
      [messagesObservable]="getMessagesSelected()"
      (onMessage)="sendMessage($event)">
    <mat-card>
      <mat-card-title>
        Crea un nuevo chat para continuar
      </mat-card-title>
    </mat-card>
  </app-chat>
</ng-template>

<ng-template #toolbarOptions>
  <span class="spacer"></span>
  <button mat-icon-button (click)="openInviteDialog()">
    <mat-icon aria-hidden="false" aria-label="Invitar participantes">group_add</mat-icon>
  </button>
  <button mat-icon-button (click)="openPermDialog()">
    <mat-icon aria-hidden="false" aria-label="Añadir permisos">view_headline</mat-icon>
  </button>
</ng-template>
