<div class="body">
  <div class="sidebar">
    <app-chat-sidenav [addresses]="getAddresses" (changeAddress)="setSelectedAddress($event)" (newChat)="onNewChat()">
      <mat-list-item mat-button class="list-item" (click)="onNewChat()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
        New Group
      </mat-list-item>
    </app-chat-sidenav>
  </div>
  <div class="chat">
    <app-chat *ngIf="!isCreatingChat; else createChat" [messagesObservable]="getMessagesSelected()" [address]="getSelectedAddress()" (onMessage)="sendMessage($event)"></app-chat>
  </div>
</div>

<ng-template #createChat>
  <mat-card>
    <mat-card-title>
      Nuevo grupo
    </mat-card-title>
    <mat-card-content>
      <form>
        <input type="text" #address>
        <button (click)="newChat($event, address)">Nuevo grupo</button>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>
